body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image:url("https://m.media-amazon.com/images/I/51gmOBxGLCL._AC_UF894,1000_QL80_.jpg") ;
}

button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}